<!-- <div class="profile">
    
</div>
<div class="accord">
    <div class="container-fluid">
        <h1 class="text-center">Subject Name</h1>
        <div class="accordion" id="faqs">
            <div class="accordion-item">
                <div class="accordion-header">
                    <button class=" form-control" data-bs-toggle="collapse" data-bs-target="#q1">Topic 1</button>
                </div>
                <div class="accordion-collapse collapse" id="q1" data-bs-parent="#faqs">
                    <div class="accordion-body">
                        <p>Question 1</p>
                        <p>Question 2</p>
                        <p>Question 3</p>
                        <p>Question 4</p>
                        <p>Question 5</p>
                    </div>
                </div>

                <div class="accordion-item">
                    <div class="accordion-header">
                        <button class=" form-control" data-bs-toggle="collapse" data-bs-target="#q2">Topic 2</button>
                    </div>
                    <div class="accordion-collapse collapse" id="q2" data-bs-parent="#faqs">
                        <div class="accordion-body">
                            <p>Question 1</p>
                            <p>Question 2</p>
                            <p>Question 3</p>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class=" form-control" data-bs-toggle="collapse" data-bs-target="#q3">Topic
                                3</button>
                        </div>
                        <div class="accordion-collapse collapse" id="q3" data-bs-parent="#faqs">
                            <div class="accordion-body">
                                <p>Question 1</p>
                                <p>Question 2</p>
                                <p>Question 3</p>
                            </div>
                        </div>


                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class=" form-control" data-bs-toggle="collapse" data-bs-target="#q4">Topic
                                    4</button>
                            </div>
                            <div class="accordion-collapse collapse" id="q4" data-bs-parent="#faqs">
                                <div class="accordion-body">
                                    <p>Question 1</p>
                                    <p>Question 2</p>
                                    <p>Question 3</p>
                                </div>
                            </div>



                            <div class="accordion-item">
                                <div class="accordion-header">
                                    <button class=" form-control" data-bs-toggle="collapse" data-bs-target="#q5">Topic
                                        5</button>
                                </div>
                                <div class="accordion-collapse collapse" id="q5" data-bs-parent="#faqs">
                                    <div class="accordion-body">
                                        <p>Question 1</p>
                                        <p>Question 2</p>
                                        <p>Question 3</p>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <div class="accordion-header">
                                        <button class=" form-control" data-bs-toggle="collapse"
                                            data-bs-target="#q6">Topic 6</button>
                                    </div>
                                    <div class="accordion-collapse collapse" id="q6" data-bs-parent="#faqs">
                                        <div class="accordion-body">
                                            <p>Question 1</p>
                                            <p>Question 2</p>
                                            <p>Question 3</p>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <div class="accordion-header">
                                            <button class=" form-control" data-bs-toggle="collapse"
                                                data-bs-target="#q7">Topic 7</button>
                                        </div>
                                        <div class="accordion-collapse collapse" id="q7" data-bs-parent="#faqs">
                                            <div class="accordion-body">
                                                <p>Question 1</p>
                                                <p>Question 2</p>
                                                <p>Question 3</p>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <div class="accordion-header">
                                                <button class=" form-control" data-bs-toggle="collapse"
                                                    data-bs-target="#q8">Topic 8</button>
                                            </div>
                                            <div class="accordion-collapse collapse" id="q8" data-bs-parent="#faqs">
                                                <div class="accordion-body">
                                                    <p>Question 1</p>
                                                    <p>Question 2</p>
                                                    <p>Question 3</p>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div> -->
<p>hello</p>
<button (click)="ques()">click</button>
<div class="subjs" *ngFor="let Data of question">
    <p>{{Data[0]}}</p>
</div>